.container {
  margin: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  height: 100vh;
}
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.chart-container {
  width: 80%;
  height: 100%;
}